node_modules
# лучше сюда вписывать env файл тоже чтобы проблем не было, но ради примера чтобы было видно лучше для чего .env - гит игнорировать его не будет (.env нужно чтобы переменные подставлять в файл которые могут меняться чтобы удобно их было перезаписывать)
.env